@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  
.app-translator{
	width:100%;
	margin: 50px auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	box-sizing: border-box;

	&--container {
		width:800px;
		margin:auto;
	}

	&--translate {
		display:flex;
		border-bottom: 1px solid gray; 
		padding:1em;
		font-size:1.4em;

	}
	&--text {
		display:flex;
	}

	&--lang {
		width:50%;
		text-align: center;
		color:rgb(80, 78, 78);
	}

	&--input {
		width:16em;
	 	padding:0.8em; 
		border: none;
		outline: none;
		background: transparent;
		font-size: 1.2em;

	} 
	
	&--form {
		width:400px;
		border-right:1px solid gray;
		box-sizing: border-box;
	}

	&--arrows {
		color:rgb(80, 78, 78);
		cursor: pointer;
	}
	&--arrows:hover  {
		color:black
	}

	&--btn {
		position: absolute;
	}
	&--answer {
		padding:0.8em;
		font-size: 1.2em;
		height: 3em;
	 	box-sizing: border-box; 
	}

	&--container-translator {
		border:1px solid gray; 
		margin-bottom: 2em;
	}
	&--img {
	 text-align: center;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
} 

@media(max-width: 998px) {
	.app-translator{
	&--container {
		width:600px;
	}
	&--translate {
		padding:0.5em;
		font-size: 1.2;
	}
	&--input {
		width:11em;
	 	padding:1em; 
	} 
	&--form {
		width:300px;
	}
	&--answer {
	padding: 1em;
	}
}

}

@media(max-width: 768px) {
	.app-translator{
	&--container {
		width:500px;
	}

	&--input {
		font-size: 1em; 
	} 
	&--form {
		width:250px;
	}
	&--answer {
		font-size:1em;
	}
}
}

@media(max-width: 550px) {
	.app-translator{
	&--container {
		width:350px;
	}

	&--translate {
		font-size: 1em;
	}
	
	&--input {
		width:16em;
	} 
	&--form {
		width:300px;
		border-right: none;
	}
	&--text {
		flex-direction: column;
	}
	&--answer {
	 	padding:0.8em 1em; 
		border-top:1px solid gray; 
	}
	&--img img{
		width:350px;
		height: auto;
	   }
}

}

.ball {
	width:120px;
	height:120px;
	line-height:50px;
	border:5px solid purple;
	position:relative;
	animation: combined 5s linear infinite;
	left:0;
	top:0; 
}



@keyframes combined {
16%, 48%, 78%  {
	top: 280px;
	animation-timing-function: ease-out;
}
32% {
	top: 50px;
	animation-timing-function: ease-in;
}
62% {
	top: 120px;
	animation-timing-function: ease-in;
	opacity:0.8;
}
82% {
	top: 120px;
	animation-timing-function: ease-in;
	opacity:0.6;
}
90% {
	top: 120px;
	animation-timing-function: ease-in;
	opacity:0;
}

100% {
	transform: rotate(360deg);
	top: 160px;
	animation-timing-function: ease-out;
	left:100%;
	opacity:0;
}
}