<div class="app-translator">
	<form class="app-translator--form" (ngSubmit)="translate()">
		<mat-form-field class="app-translator--full-width">
		  <mat-label>Введите слово...</mat-label>
		  <input matInput placeholder="пример: Привет" value="Привет" [(ngModel)]="word" type="search" name="wordsEng"  (ngModelChange)="onTitleChange()">
		  <button mat-button *ngIf="word" matSuffix mat-icon-button aria-label="Clear" (click)="word=''; onTitleChange()" class="app-translator--button" type="button">
			<mat-icon>close</mat-icon>
		  </button>
		</mat-form-field>
	</form>
	<p *ngFor="let word of wordsEng$ |async" >
		{{word}}
	  </p>
	<p *ngIf= "error$ | async">
		{{error$ | async}}</p>
	</div>

	

