@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.app-translator{
	width:100%;
	margin: 50px auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;

	&--container {
	width:1200px;
	margin:auto;
	}

	&--translate {
	padding:0.5em;
	font-size: 1em;
	text-align: center;
	}

	&--form {
	width: 500px;
	margin:auto;
  	}

  	&--field {
	width: 100%;
	  }
	  
  	&--button {
	border: none;
	background: transparent;
  	}

}


@media (max-width:1440px) {
    .app-translator {
		&--container {
			width:1000px;
		   }
		}
}

@media (max-width:1200px) {
	.app-translator {
		&--container {
			width:800px;
		   }
		&--form {
			width: 600px;
			}
		}
}

@media (max-width:998px) {
	.app-translator {
		&--container {
			width:700px;
		   }
		&--form {
			width: 500px;
			}
		}
}

@media(max-width: 768px) {
	.app-translator {
		&--container {
			width:520px;
		   }

		&--form {
			width: 400px;
			}
		}
}


@media(max-width: 550px) {
	.app-translator {
		&--container {
			width:350px;
		   }
		&--form {
			width: 250px;
		}
		}
		
	}

  
