
<div class="app-translator">
	<div class="app-translator--container">
		<div class="app-translator--container-translator">
		<div class="app-translator--translate">
			<div class="app-translator--lang">{{(lang === 'ru-en'?'TRANSLATOR.RU':'TRANSLATOR.EN') | translate}}</div>
			<div class="app-translator--arrows" (click)="changeLang()"><span class="material-icons">
				sync_alt
				</span></div>
			<div class="app-translator--lang">{{(lang === 'ru-en'?'TRANSLATOR.EN':'TRANSLATOR.RU') | translate}}</div>
		</div>

		<div class="app-translator--text">
			<div class="app-translator--form">
				<form class="app-translator--form" (keyup.enter) ="translateWord()">
					<input placeholder="{{'TRANSLATOR.EXAMPLE' | translate}}" 
						[(ngModel)]="word" type="text" name="wordTranslate" (ngModelChange)="onTitleChange()"
						class="app-translator--input">
					<button mat-button *ngIf="word" matSuffix mat-icon-button aria-label="Clear"
						(click)="word=''; onTitleChange()" class="app-translator--button" type="button" class="app-translator--btn">
						<mat-icon>close</mat-icon>
					</button>
				</form>
			</div>
		<div class="app-translator--answer">
		<div >{{(wordTranslate$ | async)[0]}}</div>
			<div *ngIf= "error$ | async">
				{{error$ | async}}</div>
		</div>
	</div>
	</div>
	<div class="app-translator--button">
	<button mat-stroked-button color="primary" (click) = "translateWord()">{{'TRANSLATOR.BUTTON' | translate}}</button>
   </div>
	<div class="app-translator--img">
		<img src ={{srcImg}}>
	</div>
</div>


<div class="ball" [style.visibility]="srcImg.length === 0 ? 'visible' : 'hidden'"></div>
</div>

