<div class="app-about-me">
	<div class="app-about-me--container">
		<p class="app-about-me--text">{{'ABOUT-ME.ARTICLE' | translate}}</p>
		<p class="app-about-me--text">{{'ABOUT-ME.TEXT' | translate}} Angular, Typescript, SCSS,  {{'ABOUT-ME.CONTINUE' | translate}} RxJS, NgRx.</p>
		<p class="app-about-me--text">{{'ABOUT-ME.TOPIC' | translate}}</p>
		<div class="app-about-me--img"><img src="./assets/img/59435.jpg" alt="people"></div>
		<p class="app-about-me--text">{{'ABOUT-ME.ANSWER' | translate}}</p>
	</div>
</div>