<div class="app-game">
	<div *ngIf="(gameStatus$ | async) === 'profile'" class="app-game--container-profile">
		<app-profile (onSaved)="onSaved()"></app-profile>
	</div>

	<div *ngIf="(gameStatus$ | async) === 'start'" class="app-game--container-start">
		<button class="app-game--btn-start" (click)="startTimer()">{{'GAME.BUTTON-START' | translate}}</button>
		<div class="app-game--ball"></div>
	</div>
	<div *ngIf="(gameStatus$ | async) === 'game'" class="app-game--container-game">
		<div class="app-game--container-avatar">
			<div>
				<div class="app-game--avatar"><img src={{(randomRival$ | async).src}}></div>
				<p class="app-game--nickname">{{(randomRival$ | async).nickname}}</p>
			</div>
			<div class="app-game--spinner">
				<mat-progress-spinner [mode]="mode" [value]="valueProgressSpinner" aria-label="showText"
					[strokeWidth]="strokeWidth" [diameter]="diameter">
				</mat-progress-spinner>

				<div class="app-game--count">{{count}}</div>
			</div>
			<div>
				<div class="app-game--avatar"><img src={{dataUser.src}}></div>
				<p class="app-game--nickname">{{dataUser.nickname}}</p>
			</div>
		</div>
		<div class="app-game--word-english">{{(word$ | async).englishWord}}</div>
		<div class="app-game--hidden-content">
			<img src="./assets/img/checkmark.png" alt="checkmark" class="app-game--checkmark"
				[style.display]="selectedAnswer === 'true'?'block':'none'">
			<img src="./assets/img/close.svg.png" alt="checkmark" class="app-game--close"
				[style.display]="selectedAnswer === 'false'?'block':'none'">
		</div>
		<button mat-stroked-button *ngFor="let wordRu of answers$ | async; let i = index" (click)="checkAnswer(wordRu, i)"
			[ngStyle]="color[i]" class="app-game--btn-answer">{{wordRu}}</button>
	</div>
	<div *ngIf="(gameStatus$ | async) === 'complete'" class="app-game--container-complete">
		<div [ngClass]="{ win: (resultAllGame === 'GAME.RESULT_WIN')}">
			<div class="app-game--result-game">
				<div class="app-game--result-text-complete" [style.color]="resultAllGame === 'GAME.RESULT_WIN'? 'green' : 'red'">
					{{resultAllGame | translate}}</div>
				<div class="app-game--game-outcome">
					<div>
						<div class="app-game--avatar-complete"><img src={{(randomRival$ | async).src}}></div>
						<p class="app-game--nickname">{{(randomRival$ | async).nickname}}</p>
					</div>
					<div class="app-game--result">
						<p class="app-game--answer">{{'GAME.TRUE-ANSWER' | translate}}:
							<span>{{correctAnswerRival}}</span></p>
						<p class="app-game--answer">{{'GAME.WRONG-ANSWER' | translate}}:
							<span>{{wrongAnserRival}}</span></p>
					</div>
				</div>
				<div class="app-game--result-text" [style.color]="resultAllGame === 'GAME.RESULT_WIN'? 'green' : 'red'">
					{{resultAllGame | translate}}</div>
				<div class="app-game--game-outcome">
					<div>
						<div class="app-game--avatar-complete"><img src={{dataUser.src}}></div>
						<p class="app-game--nickname">{{dataUser.nickname}}</p>
					</div>
					<div class="app-game--result">
						<p class="app-game--answer">{{'GAME.TRUE-ANSWER' | translate}}: <span>{{correctAnswer}}</span>
						</p>
						<p class="app-game--answer">{{'GAME.WRONG-ANSWER' | translate}}: <span>{{wrongAnswer}}</span>
						</p>
					</div>
				</div>
			</div>
			<button mat-raised-button color="accent" (click)="goToDictionary('/dictionary')"
				class="app-game--btn-complete">{{'GAME.BUTTON-LEARN' | translate}}</button>
			<button mat-raised-button color="primary" (click)="startTimer()"
				class="app-game--btn-complete">{{'GAME.BUTTON-REPEAT' | translate}}</button>
		</div>
	</div>

</div>