<div class="app-game">
	<mat-progress-spinner  
	[mode]="mode"
	[value]="valueProgressSpinner" 
	aria-label="showText"
	[strokeWidth] = "strokeWidth"
	[diameter] = "diameter">
	</mat-progress-spinner>
	<div class="app-game--count">{{count}}</div>

<div *ngIf = "gameStarted === 'start'">
<button class="app-game--btn-start" (click)="startTimer()">Начать игру</button>
</div>
<div *ngIf = "gameStarted === 'game'">
<div class="app-game--word-english">{{word.englishWord}}</div>
 <button *ngFor = "let wordRu of arrayAnswers" (click)="checkAnswer(wordRu)" class="app-game--btn-answer">{{wordRu}}</button>
<p class="app-game--btn-result">{{ outputResult }}</p>
</div>
<div *ngIf = "gameStarted === 'complete'">
	<p>Количество правильных ответов:<span>{{correctAnswer}}</span></p>
	<p>Количество неправильных ответов:<span>{{wrongAnswer}}</span></p>
	<button (click)="startTimer()">Сыграть еще</button>

</div>
</div>


