@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.app-game {
	width:900px; 
	height: 500px;
	margin: 50px auto;
	padding:30px;
	box-shadow: 0px 10px 10px black;
	box-sizing: border-box;


	&--container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	}
	
	&--count {
	position: relative; 
	font-size: 18px;
	left:50px;
	bottom:70px;
	font-family: 'Roboto', sans-serif;
	color: #414141; 
	}

	&--btn-start {
		margin-top:120px;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		color: rgb(245,245,245);
		text-shadow: 0 -1px rgba(0,0,0,.1);
		user-select: none;
		padding: 10px;
		outline: none;
		border: none;
		border-radius: 6px;
		background: rgb(210, 95, 184) linear-gradient(#d182c0, #a212a7);
		box-shadow: inset #f027e6 0 -1px 1px, inset 0 1px 1px #f698ff, #a63caa 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
		-webkit-animation: pulsate 1.2s linear infinite;
		animation: pulsate 1.2s linear infinite;
		
	}
	&--btn-start:hover {
		animation-play-state: paused;
		cursor: pointer;
	  }
	  &--btn-start:active {
		top: 1px;
		color: #fff;
		text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
		box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
	  }
	  @-webkit-keyframes pulsate {
		50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
	  }
	  @keyframes pulsate {
		50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
	  }

	  &--word-english {
		font-family: 'Roboto', sans-serif;
		font-size:28px;
		font-weight: 800;
		color: #414141;
		text-align: center;
		padding:10px 0;
	  }

	  &--btn-answer {
		  display:block;
		  width:240px;
		  margin:5px;
	  }

	  &--btn-complete {
		display: block;
		width:250px;
		margin:10px auto;
	  }

	  &--answer {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		color:rgb(54, 54, 54);
	  }

	  &--checkmark,
	  &--close {
		width:50px;
		height: auto;
		position: absolute;
	  }

	  &--hidden-content {
		  width:50px;
		  height: 50px;
		  margin: auto;
	  }

	  &--avatar img{
		  width:150px;
		  height: 150px;
	  }

	  &--container-avatar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	} 


	  &--nickname {
		  margin-top: 5px;
		  text-align: center;
	  }

	  &--spinner {
		  margin:0 50px;
	  }

	  &--result-game {
		  display: flex;
		  flex-direction: row;
	  }

	  &--game-outcome {
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		 margin: 0 20px 40px 20px;
	  }

	  &--result-text {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		font-family: 'Roboto', sans-serif;
	  }

}

::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
	stroke: rgb(210, 95, 184) !important;
}

.ball {
    width:100px;
    height:100px;
    color:white;
    line-height:50px;
    border:5px solid purple;
    position:relative;
    animation: combined 5s linear infinite;
 	left:0;
	top:0; 
}
@keyframes combined {
    16%, 48%, 78%  {
		top: 190px;
        animation-timing-function: ease-out;
    }
    32% {
        top: 50px;
        animation-timing-function: ease-in;
    }
    62% {
        top: 100px;
		animation-timing-function: ease-in;
		opacity:0.8;
	}
	82% {
        top: 100px;
		animation-timing-function: ease-in;
		opacity:0.6;
    }
    90% {
        top: 100px;
		animation-timing-function: ease-in;
		opacity:0;
	}

    100% {
        transform: rotate(360deg);
        top: 190px;
        animation-timing-function: ease-out;
		left:100%;
		opacity:0;
    }
}
.win {
    background-image: url('~src/assets/img/win.png');
	background-size: cover; 
}