<!-- <div class="app-home">
	<h1 class="app-home--title">Hello, my friend!</h1>
	<img src="../../../assets/img/flag.png" alt="flag" class="app-home--img">
	<p class="app-home--text">This is a mini-application that will
		help you learn English. </p>
	<button class="app-home--button" (click)="goToGame('/game')">
		go to game...</button>

</div> -->

<div class="app-home">
	<h1 class="app-home--title">Hello, my friend!</h1>
	<p class="app-home--text">This small service will help you <br>
		remember or learn English words, <br>
		participate in the game, <br>
		choosing the correct translation options. </p>
	<button class="app-home--button" (click)="goToGame('/game')">
		go to game...</button>
 
</div>