<div class="app-dictionary">

	<table mat-table [dataSource]="dictionary" class="mat-elevation-z8">

		<ng-container matColumnDef="index">
			<th mat-header-cell *matHeaderCellDef> N. </th>
			<td mat-cell *matCellDef="let element; let i = index" class="app-dictionary--index"> {{i+1}} </td>
		</ng-container>

		<ng-container matColumnDef="russianWord">
			<th mat-header-cell *matHeaderCellDef>{{'DICTIONARY.TRANSLATION' | translate}}</th>
			<td mat-cell *matCellDef="let element" class="app-dictionary--word"> {{element.russianWord}} </td>
		</ng-container>

		<ng-container matColumnDef="englishWord">
			<th mat-header-cell *matHeaderCellDef>{{'DICTIONARY.ENGLISH-WORD' | translate}}</th>
			<td mat-cell *matCellDef="let element" class="app-dictionary--word"> {{element.englishWord}} </td>
		</ng-container>

		<ng-container matColumnDef="listen">
			<th mat-header-cell *matHeaderCellDef class="app-dictionary--sound">{{'DICTIONARY.LISTEN' | translate}}</th>
			<td mat-cell *matCellDef="let word" class="app-dictionary--sound">
				<mat-spinner-button [options]="getSpinnerButtonOptions(word)" (click)="playAudio(word)">
				</mat-spinner-button>
			</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef class="app-dictionary--remove">{{'DICTIONARY.REMOVE' | translate}}</th>
			<td mat-cell *matCellDef="let word" class="app-dictionary--remove">
				<button mat-raised-button color="accent" (click)="removeWordFromDictionary(word)">{{'DICTIONARY.BUTTON' | translate}}</button>
			</td>
		</ng-container>


		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

</div>