@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.app-dictionary {
	&--index {
		width:10%;
	}
	&--word {
		width:35%;
	}
	&--sound,
	&--remove {
		text-align: center;
		width:10%;
	}
		
}

.mat-elevation-z8 {
	width:900px;
	margin:auto;
}