.app-profile {
	display: flex;
	flex-direction:column;
	align-items: center;
	border:1px solid lightgrey;
	box-shadow: 0px 10px 10px black;
	background-size: cover;
	width:900px; 
	height: 500px;
	margin: 50px auto;
	padding:50px 60px; 
	box-sizing: border-box;

	&--container {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;

	}

	&--avatar {
	margin:5px;
	width:120px;
	height: auto;
	}

	&--button-close {
		border: none;
		background: transparent;
	}

	&--button-avatar {
		background: transparent;
		border:none;
		outline: none;
	}
	&--button-avatar:hover {
		transform: scale(1.1);
		transition: ease;
	}
	&--button-avatar:focus {
		transform: scale(1.2);
	}


}