.app-profile {
	display: flex;
	flex-direction:column;
	align-items: center;

	&--container {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	}

	&--avatar {
	margin:5px;
	width:120px;
	height: auto;
	}

	&--button-close {
		border: none;
		background: transparent;
	}

	&--button-avatar {
		background: transparent;
		border:none;
		outline: none;
	}
	&--button-avatar:hover {
		transform: scale(1.1);
		transition: ease;
	}
	&--button-avatar:focus {
		transform: scale(1.2);
	}


}