<div class="app-menu">
	<div class="app-menu--navigate">
		<a routerLink="" class="app-menu--link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Главная</a>
		<a routerLink="/game" class="app-menu--link" routerLinkActive="active-link">Игра</a>
		<a routerLink="/dictionary" class="app-menu--link" routerLinkActive="active-link"> <span matBadge={{numberWordsInDictionary}} matBadgeOverlap="false">Словарь</span></a>
		<a routerLink="/translate" class="app-menu--link" routerLinkActive="active-link">Переводчик</a> 
		<a routerLink="/about-me" class="app-menu--link" routerLinkActive="active-link">Обо мне</a>
	</div>
</div>