@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.app-menu {
	display:flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color:rgb(216, 101, 216);
	width:100%;
	height: 6em;
	box-shadow: 0 1px 10px 1px black;
	margin-bottom: 1em;

	&--container {
	/* 	background: black; */
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center; 
		width:1200px;	
		margin:auto;
	}
	 &--toggle-button {
		margin-right: .5em;
	} 

	&--navigate {
	  /*   background: green; */
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	    align-items: center; 
	    width: 95%;
	    margin: 0 4em;
	}


	&--link {
		display: block;
		text-decoration: none;
		color:white;
     	font-size:2em;
		margin: 0.2em;
		/* font-family: 'Roboto', sans-serif; */
	
	&.active-link {
		padding:0.6em 0.8em;
		border-radius: 0.8em;
		background: rgb(210, 95, 184);
	}
}
	&--link:hover{
	    transform: scale(1.1);
        transition: 0.8s;
}
&--mat-menu {
	display:none;
	color:white;
	margin-left:2em;
}
}

@media (max-width:998px) {
    .app-menu {
		&--link {
		font-size:1.3em;
		
		&.active-link {
			padding:0.4em 0.6em;
			border-radius: 0.6em;
		}
	}
	}
}


@media (max-width:768px) {
    .app-menu {
		&--navigate {
			  margin: 0 2em;
		  }
		&--link {
		font-size:1.2em;
		
		&.active-link {
			padding:0.2em 0.4em;
			border-radius: 0.4em;
		}
	}

	}
}

@media (max-width:650px) {
    .app-menu {

		&--navigate {
			display: none;
		}
		&--mat-menu {
			display:block;
		}
		&--link {
	     font-size:1.1em;
		
		&.active-link {
			padding:0.2em 0.4em;
			border-radius: 0.4em;
		}
	}
	}
}
