 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.app-menu {
	display:flex;
	align-items: center; 
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color:rgb(216, 101, 216);
 	width:100%;
	min-width: 360px; 
	height: 6em;
	box-shadow: 0 1px 10px 1px black;

 	&--container {
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center; 
		width:100%;	
		margin:0 0.5em;
	} 

	&--toggle-button {
		margin-right: 1em;
	}  

	&--navigate {
	    display:flex;
		flex-direction: row;
		justify-content: space-between;
	    align-items: center; 
		width:600px; 
	}

	&--link {
		display: block;
		text-decoration: none;
		color:white;
     	font-size:1.4em; 
		margin: 0.2em;
	
	&.active-link {
		padding:0.6em 0.8em;
		border-radius: 0.8em;
		background: rgb(210, 95, 184);
	}
}
	&--link:hover{
	    transform: scale(1.1);
        transition: 0.8s;
}
	&--mat-menu {
		display:none;
		color:white;
		margin-left:2em;
}
}


@media (max-width:998px) {
    .app-menu {
		&--navigate {
			width:500px;
		}
	
		&--link {
			font-size:1.2em;
		
		&.active-link {
			padding:0.4em 0.6em;
			}
		}
	}
}

	@media (max-width:768px) {
		.app-menu {
		 height: 4em;

		&--navigate {
			display:none;
		}
		&--mat-menu {
			display:block;
		}
	}
} 