<div class="app-menu">
	<div class="app-menu--navigate">
		<a routerLink="" class="app-menu--link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
		<a routerLink="/game" class="app-menu--link" routerLinkActive="active-link">Game</a>
		<a routerLink="/dictionary" class="app-menu--link" routerLinkActive="active-link"> <span matBadge={{numberWordsInDictionary}} matBadgeOverlap="false">Dictionary</span></a>
		<a routerLink="/translate" class="app-menu--link" routerLinkActive="active-link">Translate</a> 
		<a routerLink="/about-me" class="app-menu--link" routerLinkActive="active-link">About me</a>
	</div>
</div>